@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}
a {
    text-decoration: none;
    color: rgb(0,0,0);
}
.mainTitle{
    font-size: 32px;
    text-align: center;
    color: rgb(73, 4, 4);
}
* {
    box-sizing: border-box;
}
